/* Zestaw kolorow 1 */
$szaryCiemny: #333;
$szarySredni: #B3B3B3;
$szaryJasny: #f6f6f6;
/* $pomaranczowy: #EA7217; */
$bialy: #ffffff;

/* Kolory Bartka */
$prawieBialy: #eeeeee;
$szaryBardzoJasny: #f2f2f2;
$prawieCzarny: #222222;
$czarny: #000000;
$pomaranczowy: #eb6420; /*kolor z loga KINO ODRA*/

/* Użycie kolorów */

/* body */
$bodyBg: $szaryJasny;

/* Nagłówek */
$headerBg: $szaryCiemny;
$headerCol: $szaryJasny;
$primaryNavCol: $szaryJasny;
$btnNavBg: $pomaranczowy;

/* movieBox */
$movieBoxSeeAllBtnBorder: $prawieBialy;

/* btn */
/* kolory przycisków */
$btnLight: $szaryJasny;
$btnDark: $szaryCiemny;
$btnColor: $pomaranczowy;

/* kolory obramowania */
$btnLightBorderRGBA: rgba($szarySredni, 0.3);

    /* btn--projection */
    $btnProjectionLblBG: $pomaranczowy;
    $btnProjectionLblCol: $bialy;
    $btnProjectionLblNoneBg: $prawieBialy;
    $btnProjectionLblNoneCol: $szaryCiemny;

/* label */
$labelBg: $pomaranczowy;
$labelCol: $bialy;

/* rTable */
$rTableBgCol: $szarySredni;
$rTableBorCol: $prawieBialy;

/* seeCS */
$seeCSBg: $pomaranczowy;

/* contact */
$contactPhoneCol: $pomaranczowy;
$contactPhoneBg: $bialy;

$contactAddressCol: $bialy;
$contactAddressBg: $pomaranczowy;



