/* Zestaw kolorow 1 */
$szaryCiemny: #333;
$szaryJasny: #f6f6f6;
$pomaranczowy: #EA7217;


/* Użycie kolorów */

/* body */
$bodyBg: $szaryJasny;

/* Nagłówek */
$headerBg: $szaryCiemny;
$headerCol: $szaryJasny;
$primaryNavCol: $szaryJasny;
$btnNavBg: $pomaranczowy;

/* movieBox */
$movieBoxBg: #FFF;

/* btn */
$btnBorder: $szaryJasny;

