/* Zestaw kolorow 1 */
$szaryCiemny: #333;
$szarySredni: #B3B3B3;
$szaryJasny: #f6f6f6;
$pomaranczowy: #EA7217;
$bialy: #ffffff;

/* Użycie kolorów */

/* body */
$bodyBg: $szaryJasny;

/* Nagłówek */
$headerBg: $szaryCiemny;
$headerCol: $szaryJasny;
$primaryNavCol: $szaryJasny;
$btnNavBg: $pomaranczowy;

/* movieBox */
$movieBoxBg: $bialy;

/* btn */
$btnBorder: $szarySredni;

    /* btn--light - kolory dla jasnego przycisku przy hoverze i focusie */
    $btnLightBg-hover: $szaryCiemny;
    $btnLightCol-hover: $bialy;

    /* btn--aboutMovie */
    $btnAboutMovieRGBA: $bialy;

    /* btn--seeCS */
    $btnSeeCSCol: $bialy;



/* label */
$labelBg: $pomaranczowy;
$labelCol: $bialy;

/* rTable */
$rTableBgCol: $szarySredni;
$rTableBorCol: $bialy;

/* seeCS */
$seeCSBg: $pomaranczowy;

/* contact */
$contactPhoneCol: $pomaranczowy;
$contactPhoneBg: $bialy;

$contactAddressCol: $bialy;
$contactAddressBg: $pomaranczowy;

/* modal */
$modalBgRGBA: rgba($szarySredni, 0.8);
$modalContentBg: $szaryJasny;
$modalCloseBtnHoverCol: $pomaranczowy;
$modalCloseBtnCol: $szaryCiemny;



