* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

body, button{
	font-family: Lato;
}

h1{
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
}

h3{
	font-size: 1.15rem;
	font-weight: 600;
}

/* TESTOWE */
.slick{
	color: red;
	width: 500px;
}
