* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
}

html{

}

body, button{
	font-family: Lato;
}

h1{
	font-size: 3rem;
}

h2{
	font-size: 1.5rem;
}

h3{
	font-size: 1.15rem;
	font-weight: 600;
}

p{
	font-size: 1.15rem;
}

em{
	font-weight: 900;
	font-style: normal;
	color: $emCol;
}

/* dodanie znaku-symbolu telefonu do wszystkich linków telefonicznych (tel) */
a[href^="tel:"]:before {
	content: "\260e";
	margin-right: 0.5em;
  }