/* MIXINS - MEDIA QUERIES */

@define-mixin atTiny{
	@media (min-width: 300px){
		@mixin-content;
	}
}

@define-mixin atSmall{
	@media (min-width: 576px){
		@mixin-content;
	}
}

@define-mixin atMedium{
	@media (min-width: 768px){
		@mixin-content;
	}
}

@define-mixin atLarge{
	@media (min-width: 1100px){
		@mixin-content;
	}
}

@define-mixin atHuge{
	@media (min-width: 1600px){
		@mixin-content;
	}
}

/* MIXINS - OBRAMOWANIA */

/* Delikatne, jasne obramowanie */
@define-mixin lightBorder{
	border: 1px solid $btnLightBorderRGBA;
}

/* Obramowanie tylko górne - dodatkowe, działa tylko gdy dla elementu już jest zdefiniowane obramowanie */
@define-mixin borderOnlyTop{
	border-bottom: none;
	border-left: none;
	border-right: none;
}