.btn{
    border: 1px solid $btnBorder;
    background-color: transparent;

    &--projection{
        border: none;
        padding: 0.1em;
        margin: 0.05em;

        &__hour{
            font-size: 2rem;
        }

        &__noLbl{
            visibility: hidden;
        }
    }

    /* FLEXBOX */
    .flexbox &--projection{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;

    }
}
