.btn{
    border: 1px solid $btnBorder;
    background-color: transparent;

    &--projection{
        padding: 0.1em;
        margin: 0.05em;

        &__hour{
            font-size: 2rem;
        }
    }

    /* FLEXBOX */
    .flexbox &--projection{
        display: flex;
        flex-direction: column;
    }
}