.btn{
    border: 1px solid $btnBorder;
    background-color: transparent;
    border-radius: 4px;
    
    &--light:hover, &--light:focus{
        background-color: $btnLightBg-hover;
        color: $btnLightCol-hover;
    }

    &--no-border{
        border: none;
    }

    &--centered{
        position: relative;
        /* wyśrodkowanie na stronie: */
        left: 50%;
        transform: translateX(-50%);
    }

    &--aboutMovie{
        background-color: $btnAboutMovieRGBA;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
		border: none;
    }

    &--projection{
        border: none;
        padding: 0.1em;
        margin: 0.05em;

        &__hour{
            font-size: 2rem;
        }

        &__noLbl{
            visibility: hidden;
        }

    }

    &--readMore{
        padding: 0.5em;
        font-weight: 300;
        font-size: 1.3rem;
    }

    &--seeCS{
        display: block;
        color: $btnSeeCSCol;
        text-decoration: none;
        margin: 1em auto;
    }



    /* FLEXBOX */
    .flexbox &--projection{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: stretch;

    }
}
