.contact{

    font-size: 1.1rem;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    @mixin atMedium{
        flex-direction: row;
    }

    &__tab{
        background-color: white;
        text-align: center;
        padding: 3em 1em;
        margin-bottom: 10px;

        &--address{
            flex-basis: calc(25% - 5px);
            background-color: $contactAddressBg;
            color: $contactAddressCol;

            p{
                line-height: 1.5;
            }
        }

        &--phone-mail{
            flex-basis: calc(75% - 5px);
            background-color: $contactPhoneBg;
            color: $contactPhoneCol;
            
        }
    }

    &__mail, &__phone{
        display: block;
        /* kolor odnośników telefonu i maila */
        color: $contactPhoneCol;
        text-decoration-line: none;
    }

    &__phone{
        
        font-weight: 900;

        @mixin atTiny{
            font-size: 1.15rem;
        }

        @mixin atSmall{
            font-size: 3rem;
        }

        @mixin atMedium{
            font-size: 4rem;
        }
    }

    &__mail{
        @mixin atTiny{
            font-size: 1.15rem;
        }

        @mixin atSmall{
            font-size: 1.7rem;
        }

    }
}

.no-flexbox .contact{
    display: block;
}