.label{
    background-color: $labelBg;
    color: $labelCol;

    text-align: center;
    padding: 5px;
    display: block;

    &--movie{
    /* label dla filmu w movieBox (repertuarze dnia) */
        width: 200px;
        /* float: left; */
        height: 75px;
    }

    &--movies{
        /* label dla filmu w movies (sliderze filmów) */
    }
}