.modal{
    position: fixed;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.8);
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
    &--is-visible{
        display: block;
    }
}