.movieBox{

	/* background-color: $movieBoxBg; */
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	flex: 1;
	padding-right: 20px;
	overflow: hidden;

	&__title{
		font-size: 1.25rem;
		font-weight: 600;
		margin-top: 20px;
		text-transform:uppercase;
	}

	&__projectionsHeading{
		font-size: 1rem;
		margin-bottom:10px;
	}

	&__poster{
		width: 200px;
		height: 280px;
	}

	&__projections ul{
		list-style: none;
	}

	/* ---------------- tymczasowo ukryte --------------- */
	&__pickProjectionLbl {
		display: none;
	}

}

/* FLEXBOX */
.flexbox .movieBox {

	&__projections{
		display: flex;
		flex-direction: column;
	}
	
	&__projections ul{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		li{
			/* flex: 1; */
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: 100px;
		}
	}

}
		
/* CSSGRID */
.cssgrid .movieBox {

	display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(6, max-content);
	grid-column-gap: 20px;

	&__poster{			grid-row: 1 / 6;	grid-column: 1; z-index: 1;	}
	&__aboutBtn{ 		grid-row: 1 / 6; 	grid-column: 1; 	z-index: 3;}
	&__title{ 			grid-row: 1; 	grid-column: 2;}
	&__info--runtime{ 	grid-row: 2; 	grid-column: 2; }
	&__info--ageCat{ 	grid-row: 3; 	grid-column: 2; }
	&__info--genre{ 	grid-row: 4; 	grid-column: 2; }
	&__projections{ 	grid-row: 5; 	grid-column: 2; }

	&__movieLabels{ 	grid-row: 1 / 2; 	grid-column: 1; 	z-index: 2;}

	&__aboutBtn{
		
	}

	&__projections ul{
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		align-items: start;

		li{
			
		}
	}
}


