.movieBox{
	/* color: red;  */
	background-color: $movieBoxBg;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


	margin: 20px 0;

	&__poster{
		width: 150px;
		height: 210px;
		float: left;
	}

	&__lbl--hidden{
		/* etykiety pól informacji (np. gatunek, kategoria wiekowa) */
		display: none;
	}

	&__pickProjectionLbl{
		/* napis "Wybierz seans aby kupić/zarezerwować */
		display: block;

		&--hidden{
			visibility: hidden;
		}
	}

	&:hover{
		.movieBox__pickProjectionLbl--hidden{
			visibility: visible;
		}
	}

	/* ----- CSSGRID -----*/
	.cssgrid &{
		margin: 0;
		display: grid;
		grid-template-columns: 150px 1fr;
		grid-template-rows: repeat(7, max-content);
		grid-column-gap: 20px;
		padding-right: 20px;

		&__poster{
			grid-row: span 7;
		}
	}

}
