.movieBox{

	background-color: $movieBoxBg;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	flex: 1;
	padding-right: 20px;

	&__poster{
		width: 200px;
		height: 280px;
	}

	&__projections ul{
		list-style: none;
	}

	/* ---------------- tymczasowo ukryte --------------- */
	&__aboutBtn, &__pickProjectionLbl, &__movieLabel{
		display: none;
	}

}

/* FLEXBOX */
.flexbox .movieBox {

	&__projections{
		display: flex;
		flex-direction: column;
	}
	
	&__projections ul{
		display: flex;
		flex-wrap: wrap;
	}

}
		
/* CSSGRID */
.cssgrid .movieBox {

	display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(5, max-content);
	grid-column-gap: 20px;

	&__poster{
		grid-row: span 5;
	}
	
}


