.navigation{
	
	grid-area: navigation;

	ul{
		list-style: none;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
	}
	
	&__element{

	}

	a{
		color: $tekstJasny;
		text-decoration: none;
	}
}