/* moduł responsywnej "tabeli" cennika (działa wyłącznie za pomocą css) */
/* na małych (mobilnych ekranach wyświetla się jako trzy osobne tabelki (dla każdej wersji - wt,cz - tania środy - weekendy & święta */
/* 'tabela' traktowana jest jako trzykolumnowa, w każdej z kolumn są dwie 'podkolumny' --label na etykiety i --value */

/* PODSTAWOWE STYLE */
.rTable{

    /* style dla wersji najmniejszej */
    &--collapse{
        display: block;
    }

    &__cell{
        width: 100%;
        box-sizing: border-box;
        flex-grow: 1;
        overflow: hidden;
        /* flex do ustawiania __subcell */
        display: flex;
        flex-wrap: wrap;

        &--foot{
            margin-bottom: 1em;
        }
    }

    &__subcell{
        box-sizing: border-box;
        flex-grow: 1;
        border: 1px solid #CECDCD;

        &--label{
            width: 50%;
        }

        &--value{
            width: 50%;
        }

        &--hideBig{
            display: block;
        }

        &--empty{
            display: none;
        }
    }

    @mixin atSmall{
        /* flex do ustawiania __cell */
        display: flex;
        flex-wrap: wrap;

        @mixin rTableCellWidth 3{ };

        /* podkolumny */
        &__subcell{

           

            &--empty{
                display: block;
            }

            /* ukrywanie 'podkolumn' etykiet (poza pierwszą) na dużych rozdzielczościach */
            &--hideBig{
                display: none;
            }

        }
    }


}

/* ROZMIARY KOMÓREK - wersja standardowa na różne ilości kolumn NIEUŻYWANE */
/* Na szerokich ekranach (przy ukryciu --label w --otherRegion) kolumny są nierówne
co jest nadpisywane poniżej */

/* @define-mixin rTableCellWidth $colsNumber{

    .rTable--$(colsNumber)cols > .rTable__cell{
        width: calc(100% / $colsNumber);
    }
} */

@mixin atSmall{
    /* wygenerowanie stylu szerokości dla 3 kolumn (dla innej ilości można zrobić analogicznie) */
    /* @mixin rTableCellWidth 3{ } */

    /* ręczne ustawienie szerokości kolumn (dla wersji szerszej) - biorące pod uwagę, że we wszystkich 'kolumnach' (poza pierwszą) ukryta jest 'podkolumna' --label - co za tym idzie - trzeba wyliczać szerokość komórek tak, jakby była jedna 'kolumna' więcej (właśnie ta 'podkolumna' label)*/

    .rTable--3cols > .rTable__cell--firstRegion{
        width: 50%;
    }

    .rTable--3cols > .rTable__cell--otherRegion{
        width: 25%;
    }
}




