.site-header{

	width: 100%;
	background-color: $headerBg;
	color: $headerCol;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	/* flexbox */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	/* logo strony */
	&__logo{
		height: 75px;

		@mixin atMedium{
			height: 100px;
		}
	}

	/* przycisk pokazywania/ukrywania menu (hamburger) - tylko dla ekranów mniejszych niż medium */
	&__showMenuBtn{
		display: block;

		@mixin atMedium{
			display: none;
		}
	}

	/* element w którym znajduje się primary nav */
	&__primary-nav{
		/* dla wąskich ekranów primary-nav musi się pokazywać "w nowej linii" na całą szerokość ekranu */
		flex-basis: 100%;

		/* dla szerszych ekranów primary-nav pokazuje się obok loga */
		@mixin atMedium{
			flex-basis: auto;
		}
	}

}

/* fallback dla braku obsługi flexbox */
.no-flexbox .site-header{
	display: block;

	/* przycisk pokazywania/ukrywania menu (hamburger) - tylko dla ekranów mniejszych niż medium */
	&__showMenuBtn{
		float: right;
		margin: 20px 0;
	}

	/* element w którym znajduje się primary nav */
	&__primary-nav{
		width: 100%;

		@mixin atMedium{
			width: auto;
		}
	}
}