.cssgrid{
/* klasa o tej nazwie musi być w arkuszu, żeby gulp-modernizr testował css-grid */
	/* display: grid; */
}

.flexbox{
/* klasa o tej nazwie musi być w arkuszu, żeby gulp-modernizr testował flexbox */
}

/* .movieSchedule {
	display: none;
} */

/* TYMCZASOWE */
/* Styl ramki .warning dla komunikatu w wersji show */
.warning{
	text-align: center;
	background-color: yellow;
	margin: 20px;
	padding: 20px;
	border: 10px solid red;

	&--tooSmall{
		background-color: palegreen;
		@mixin atMedium{
			display: none;
		}
	}

	&--noGrid{
		@supports(display: grid){
			display: none;
		}
	}


}

